a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.vissually-hidden:not(:focus):not(:active),
input[type="checkbox"].vissually-hidden,
input[type="radio"].vissually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
