$color-primary: #f7e611;
$color-pseudo: #f8eb4c;
$color-bg-desktop: #f7f7f7;
$color-text-main: #000000;
$color-text-contrast: #ffffff;
$width-mobile: 320px;
$width-desktop: 1440px;
$font-stack-accent: "Philosopher", serif;
$font-stack-decor: "Geometria", sans-serif;
